h1 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  color: #c38e7d;
}
.regolamento {
  color: red;
}
form {
  max-width: 500px; /* Riduce la larghezza del form */
  margin: 50px auto; /* Lo centra orizzontalmente e aggiunge spazio sopra */
  padding: 20px;
  background: #fff; /* Sfondo bianco per un look pulito */
  border-radius: 8px; /* Angoli arrotondati */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
button {
  background: rgb(42, 102, 97);
  background: linear-gradient(
    34deg,
    rgba(42, 102, 97, 1) 0%,
    rgba(81, 213, 198, 1) 53%,
    rgba(30, 83, 77, 1) 100%
  );
}
