<nz-footer>
  <!-- Prima Sezione del Footer -->
  <section nz-row nzAlign="middle" class="footer-top" nzJustify="space-between">
    <div nz-col [nzSpan]="10" class="footer-info-text">
      <span>Get connected with me on social networks:</span>
    </div>

    <!-- Collegamenti ai Social Media in Layout Orizzontale -->
    <div nz-col [nzSpan]="14" nz-row nzJustify="end" class="social-links">
      <div nz-col [nzSpan]="10">
        <span nz-icon nzType="linkedin" nzTheme="outline"></span>
        <a
          href="https://www.linkedin.com/in/corinne-mainardi/"
          class="text-reset"
        >
          Corinne Mainardi
        </a>
      </div>
      <div nz-col [nzSpan]="10">
        <span nz-icon nzType="github" nzTheme="outline"></span>
        <a
          href="https://github.com/CorinneMainardi?tab=repositories"
          class="text-reset fw-bold"
        >
          Corinne Mainardi
        </a>
      </div>
    </div>
  </section>

  <!-- Seconda Sezione del Footer (Informazioni su di me e Contatti) -->
  <section nz-row class="footer-info mt-5" nzJustify="space-between">
    <div nz-col [nzSpan]="10">
      <h6 class="text-uppercase fw-bold mb-4">
        <i class="fas fa-gem me-3"></i>About me
      </h6>
      <p>
        Ho scoperto l'interesse per il mondo della programmazione anni fa. Oggi
        studio per addentrarmi in questo mondo e acquisirne le giuste
        competenze.
      </p>
    </div>

    <div nz-col [nzSpan]="10">
      <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
      <p>
        <i class="fas fa-envelope me-3"></i>
        mainardi.corinne&#64;gmail.com
      </p>
    </div>
  </section>

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05)">
    © 2024 Epicode Copyright:Capstone Project
  </div>
</nz-footer>
