<h1><img src="logo.png" alt="logo" />#SEGNONOME</h1>

<div class="body">
  <h3>Premessa:</h3>

  <p>
    La sordità è un handicap invisibile e, forse, il più isolante: se non viene
    compresa e accettata, impedisce lo sviluppo e la decodifica del mondo reale;
    essendo invisibile, inoltre, non viene considerata dalla società. I sordi
    non vengono ascoltati: anche ordinare un caffè o pagare può diventare
    difficile
  </p>
  <p>
    Quando parliamo di barriere, il nostro pensiero si focalizza su quelle
    architettoniche. La barriera più importante e più difficile da abbattere è
    quella della comunicazione Abbatterla significa utilizzare la lingua dei
    segni in tutti i contesti sociali(soprattutto in ospedale).
  </p>
  <p>
    È proprio per abbattere queste barriere che nasce #SEGNONOME. L'app permette
    di accedere a un dizionario LIS, a delle lezioni, sia registrate sia
    real-time (in presenza e online), e agli eventi che consentiranno di mettere
    in pratica quanto appreso e a entrare nel mondo dei sordi.
  </p>

  <section class="logReg">
    <h3>Vuoi imparare questa lingua?</h3>
    <h3 class="h3">Entra a far parte del mondo di #SEGNONOME</h3>
    <div class="authC">
      <h5>Non sei ancora registrato?</h5>
      <p class="auth">
        Cosa aspetti?!
        <span
          ><a
            class="btn"
            routerLink="/register"
            nz-button
            nzType="default"
            [nzSize]="size"
            >Registrati!</a
          ></span
        >
      </p>
      <p class="auth">
        Sei registrato?

        <span
          ><a
            class="btn"
            routerLink="/login"
            nz-button
            nzType="default"
            [nzSize]="size"
            >Loggati!</a
          ></span
        >
      </p>
    </div>
  </section>

  <section id="regolamento" class="regolamento">
    <h3><span nz-icon nzType="warning" nzTheme="outline"></span>Regolamento</h3>
    <p>
      Vietati atteggiamenti e commenti che riguardino qualsiasi tipo di
      discriminazione!
    </p>
    <p>
      Quest'app nasce con l'intento di essere un luogo protetto dove tutti
      possono essere se stessi e dove si possa imparare ad abbattere le barriere
    </p>
  </section>
</div>
