<div class="aboutUs-page">
  <h1>About-us</h1>

  <h3>In un mondo ideale:</h3>

  <p>
    i sordi non vengono emarginati; lo Stato offre il giusto sostegno
    all’inclusione; esistono contesti sociali in cui la comunicazione possa
    avvenire a 360° sia un dovere della comunità; la LIS, come l’ inglese, viene
    considerata essenziale per comunicare nel mondo.
  </p>
  <h3>ma...</h3>
  <p>
    Il mondo ideale è solo un’illusione e la realtà ben diversa. Per questo
    nasce #SEGNONOME.
  </p>
  <h3>Vision</h3>
  <p>
    Vorremmo abbattere le barriere invisibili, quelle comunicative. Rendere le
    semplici azioni quotidiane accessibili a tutti.
  </p>
  <h3>Mission</h3>
  <p>
    Permettere a coloro che siano interessati di imparare la LIS, una lingua
    importante ma sconosciuta ai più.
  </p>

  <h3>Nasce #SEGNONOME</h3>
  <p>
    Un'app che entri, con rispetto, nella cultura sordi, dando la possibilità di
    poter conoscere una lingua, con una propria grammatica e delle proprie
    regole, e partecipare a eventi di inclusione, dove poter far pratica
  </p>
</div>
